<div class="layout">
  <div class="flex flex--row">
    <div>Item 1</div>
    <div>Item 2</div>
  </div>
</div>
<div class="title_bar">
  <span class="title">Title Bar with Instance</span>
  <span class="instance">{{ todays_date_time }}</span>
</div>